.video-player {
  display: flex;
  transition: 0.5s;
}
.video-content {
  display: flex;
  justify-content: center;
  background-color: rgb(243, 243, 243);
}
.vp-video-div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.vp-video-title {
  text-align: start;
  font-size: 30px;
}
.vp-video-description {
  font-size: 20px;
  text-align: justify;
}
.vp-video {
  height: 36vw;
  padding-bottom: 20px;
  border-bottom: 3px solid rgb(212, 212, 212);
  margin-bottom: 10px;
}

/* rc video */

.rc-video {
  padding: 20px;
  width: 1000px;
}
.vp-video-list {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
  margin: 10px 0;
  transition: 0.5s;
}
.vp-video-list:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}
.vp-vl-video {
  height: 100px;
  width: 250px;
  overflow: hidden;
  background-color: rgb(207, 207, 207);
  /* margin-bottom: 10px; */
}
.vp-vl-video-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.vp-vl-video-title {
  padding-left: 10px;
  text-align: start;
  width: 100%;
  font-size: 18px;
}
.video-link:hover {
  text-decoration: none;
}
@media (max-width: 1000px) {
  .video-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vp-video {
    height: 60vw;
  }
  .rc-video {
    width: 98%;
  }
}

.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  position: relative;
}

.react-player > div {
  position: absolute;
}
