.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.video-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.vp-video-div {
  max-height: 700px;
  height: 600px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* overflow: hidden; */
}
.vp-video {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
}
.vp-video-title {
  margin-top: 10px;
  font-size: 25px;
}
.vp-video-description {
  font-size: 18px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
/* video list */
.vp-video-list {
  width: 100%;
  height: auto;
  display: flex;

  background-color: aquamarine;
}

.vp-vl-video {
  margin: 10px;
  height: 100px;
  width: 150px;
  overflow: hidden;
  background-color: green;
  padding: 10px;
}
.vp-vl-video img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
