.books-div {
  padding-top: 80px;
}
.all-books {
  display: flex;
  overflow-x: scroll;
}
.all-books::-webkit-scrollbar {
  /* display: none; */
  /* scroll-behavior: smooth; */
}
.book-item {
  padding: 50px;
}

/* Book */
.book-container {
  background-color: whitesmoke;
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 10px 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
}
.book-link {
  -webkit-user-drag: none;
  /* user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}
.book {
  height: 400px;
  width: 300px;
  overflow: hidden;
}
.book img {
  width: 100%;
  height: 100%;
  transition: 0.35s;
  transform: scale(1);
  object-fit: cover;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.book img:hover {
  transform: scale(1.1);
}
.book-title {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
  color: rgb(112, 112, 112);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
}
