@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@font-face {
  font-family: "Tamil";
  src: url("./fonts/tamil.TTF");
}

.title-nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.company-name {
  color: rgb(51, 51, 51);
  font-size: 40px;
  font-weight: 700;
  font-family: "Tenali Ramakrishna", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 40px;
}
.tamil {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%);
  font-family: "Tamil";
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.navIcon {
  display: none;
}

@media (max-width: 767px) {
  .navIcon {
    display: inline-block;
    margin-right: 10px;
  }
}
