html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.see-all {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.see-all-text {
  font-weight: bold;
  color: rgb(0, 140, 255);
  cursor: pointer;
  margin: 10px 50px;
  padding: 8px 15px;
  background-color: rgba(216, 216, 216, 0.246);
  border-radius: 5px;
}
.see-all-text:hover {
  background-color: rgba(185, 185, 185, 0.322);
  color: rgb(3, 124, 223);
}
